* {
  margin: 20px 20px 0px 20px;
  font-family: sans-serif;
}
.sec-1 {
  display: flex;
}
img {
  width: 350px;
  height: 350px;
  padding: 0px 60px 0px 20px;
}
.top {
  width: 65%;
}
.top h1 {
  font-size: 50px;
  margin-right: 100px;
  font-family: "Courgette", cursive;
}
.top h1 span {
  margin: 0px;
  font-family: "Courgette", cursive;
}

h1 {
  position: relative;
}
.bar {
  background-color: rgb(255, 166, 125);
  width: 5px;
  height: 100px;
  position: absolute;
  margin: 33px 5px 5px 5px;
  border-radius: 5px;
}
.first-btn {
  text-decoration: none;
  color: white;
  background-color: rgb(238, 105, 255);
  padding: 8px 25px;
  border-radius: 5px;
}
.mission-2022 {
  font-size: 50px;
}
.box {
  display: flex;
}
.box-1 {
  background-color: rgb(213, 255, 210);
  padding: 0px 10px 50px;
  border-radius: 25px;
}
.box-2 {
  background-color: rgb(233, 210, 252);
  padding: 0px 10px 50px;
  border-radius: 25px;
}
.box-3 {
  background-color: rgb(213, 221, 255);
  padding: 0px 10px 50px;
  border-radius: 25px;
}
.box-1 img {
  width: 100px;
  height: 100px;
}
.box-2 img {
  width: 100px;
  height: 100px;
}
.box-3 img {
  width: 100px;
  height: 100px;
}
.middle-2 {
  display: flex;
}
.text h2 {
  font-size: 30px;
}
.text a {
  font-size: 18px;
  background-color: rgb(238, 105, 255);
  padding: 8px 17px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
.text p {
  font-size: 18px;
}
.img {
  margin-right: 0px;
}
.middle-3 {
  display: flex;
}
.bg {
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;
  position: right;
}

.img-1 {
  width: 25px;
  height: 25px;
}
.my-profile {
  text-align: center;
}
.text {
  margin-top: 25px;
}
footer {
  background-color: rgb(63, 141, 155);
  text-align: center;
  color: white;
  width: 100%;
  height: auto;
  background-position: bottom;
}
.foot-txt {
  padding: 30px;
}
.footer {
  color: orange;
  font-family: "Courgette", cursive;
}
.foot-txt h1 {
  font-family: "Courgette", cursive;
}
